@model IEnumerable<VideoChat.Models.User>

@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <title></title>
</head>
<body>
    <form method="post" action="/my/Index">
        <h1>Some Content Here</h1>
    </form>
</body>

</html>