@model IEnumerable<VideoChat.Models.User>

@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <script>const inHomePage = true</script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <title></title>
</head>
<body>
    <form method="post" action="/my/Index">
        <h1 class="mainHeader">Hello and Welcome to our Advanced Programming Project!</h1>
        <h2 class="mainHeader">This app allows you to open peer to peer connection with another person and to chat them or talk to them via videoChat!</h2>
        <br />
        <h3 class="mainHeader">Lets start our tour in the website :)</h3>
        <h3 class="mainHeader">First you should login/signup. Proceed to those web pages using the buttons in the menu on top of the website.</h3>
        <h3 class="mainHeader">You are in? good. Now proceed and click on the 'Connect' button.</h3>
        <br />
        <h3 class="mainHeader">You will have two options, to create room or join one. Lets try to create a new room.</h3>
        <h3 class="mainHeader">You are redirected to the room page. now if you want to use your camera/mic plugin them now, before removing the alert message otherwise you won't be able to use them later on</h3>
        <h3 class="mainHeader">Now just wait for a partner. Try to open the website from another browser and login there to a different account. Now copy the connection string(identifier)</h3>
        <h3 class="mainHeader">from the room we created before, paste in the textbox and click on the connect button. You will enter the room and after you disable the alert box you, your partner and the server</h3>
        <h3 class="mainHeader">will begin exchanging data, and in about 5 seconds you will be connected via peer to peer to your partner!(chat will write you when everything ready)</h3>
        <h3 class="mainHeader">I want to mention that rooms are not reusable! they are deleted from the database memory the moment p2p connection opened or if one of the participants left before</h3>
        <h3 class="mainHeader">so every time you or your friend leave the room, you should create a new one if you want to be able to talk again.</h3>
        <h3 class="mainHeader">another thing is that we made that you can logout only from the home page, so dont overthink why sometimes you have to click twice on it(once returns you to home, second time logout)</h3>
        <h3 class="mainHeader">btw one last thing if you see errors in the console dont panic most likely they are errors defined by me to recognize them from other messages))</h3>
        <br />
        <h3 class="mainHeader">and now, enjoy :)</h3>
    </form>
</body>

</html>