@model IEnumerable<VideoChat.Models.User>

@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <title></title>
</head>
<body>
    <form method="post" action="/my/Index">
        <h1>Hello and Welcome to our Advanced Programming Project!</h1>
        <h2>This app allows you to open peer to peer connection with another person and to chat them or talk to them via videoChat!</h2>
    </form>
</body>

</html>