
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

    <div class="dataform">
        Insert new Username
        <br>
        <input id="UserName" type="text" maxlength="20" placeholder="username"/>
        <br>
        Insert new Password
        <br>
        <input id="Password" type="password" placeholder="password" maxlength = "50"/>
        <br>
        Repeat new Password
        <br>
        <input id="Password_2" type="password" placeholder="repeat password" maxlength = "50"/>
        <br>
        <input type="button" value="OK" onclick="myClick()" />
    </div>

<script type="text/javascript" src="@Url.Content("/Scripts/Extensions.js")"></script>

<script type="text/javascript">

    function myClick() {
        let UserName = document.getElementById("UserName").value;
        let Password = document.getElementById("Password").value;
        let Password_2 = document.getElementById("Password_2").value;
        if (UserName !== "" && Password !== "" && Password_2 !== "") {
            if (Password === Password_2) {
                if (Password.length < 6) {
                    alert('too short password!');
                    return;
                }
                let JSON_Obj = new Object();
                JSON_Obj.UserName = UserName;
                JSON_Obj.Password = Password;
                let JSON_Str = JSON.stringify(JSON_Obj);
                let url = '@Url.Action("ActionSignUp","my")';
                xmlHttp.open("POST", url, true);
                xmlHttp.setRequestHeader('Content-Type', 'application/json');
                xmlHttp.onreadystatechange = getResponseSignUp;
                xmlHttp.send(JSON_Str);
            }
            else {
                alert("the passwords are not simillar")
            }
        }
        else {
            alert("please fill all your required info");
        }
    }


    function getResponseSignUp() {
        if (xmlHttp.readyState == 4) {
            alert(xmlHttp.responseText);
            if (xmlHttp.responseText == "success") {
                location.href = '@Url.Action("Index", "my")';
            }
        }
    }


</script>